body {
  font-size: 1rem;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 10px;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

h1, .h1 {
  font-family: Verdana, sans-serif;
  font-size: 1.6em;
}

h2, .h2 {
  font-family: Verdana, sans-serif;
  font-size: 1.4em;
}

a {
  color: orange;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}
a:hover {
  text-decoration: underline;
  transition: color 0.5s, background-color 0.5s;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  min-width: 250px;
  flex-direction: column;
}

.header {
  justify-self: flex-start;
}

.main {
  flex-grow: 1;
}

.footer {
  justify-self: flex-end;
}

.main {
  display: flex;
  background-color: #000000;
}
.main__container {
  margin: 0 auto;
  max-width: 1000px;
  flex-grow: 1;
  background-color: #333333;
  border-radius: 20px;
}

.footer {
  display: flex;
  margin-top: 10px;
  font-size: 0.8rem;
  background-color: #000000;
}
.footer__container {
  margin: 0 auto;
  max-width: 1000px;
  flex-grow: 1;
  background-color: #333333;
  border-radius: 20px;
}
.footer__line {
  padding: 30px;
  text-align: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding: 8px 0;
  font-size: 1rem;
}
.logo__link {
  display: flex;
  align-items: center;
  color: orange;
  text-decoration: none;
}
.logo__link:hover {
  text-decoration: none;
}
.logo__image {
  height: 2.8em;
}
.logo__title {
  margin-left: 10px;
  font-size: 1.6em;
  font-weight: bold;
}

.ghsearch {
  margin: 20px 20px;
  margin-top: 10px;
}
.ghsearch__title {
  margin-bottom: 10px;
  text-align: center;
}
.ghsearch__form {
  width: 100%;
}
.ghsearch__query-line {
  display: flex;
  flex-basis: 100%;
  flex-shrink: 1;
  justify-content: center;
  align-items: flex-start;
  column-gap: 5px;
}
.ghsearch__query-box {
  width: 80%;
  max-width: 40rem;
}
.ghsearch [name=query] {
  width: 100%;
}
.ghsearch__result {
  margin-top: 20px;
}
.ghsearch__result-list {
  padding-left: 20px;
}
.ghsearch__result-item {
  margin: 10px;
  padding: 10px;
  vertical-align: bottom;
  background-color: #444444;
  border: 1px solid #555555;
}
.ghsearch__result-item-content {
  display: inline-flex;
  vertical-align: top;
  column-gap: 10px;
  row-gap: 10px;
}
.ghsearch__result-item-left {
  flex-shrink: 1;
}
.ghsearch__result-item-right {
  flex-shrink: 1;
  flex-grow: 1;
}
.ghsearch__result-image {
  max-width: 100px;
  background-color: #ffffff;
}
.ghsearch__result-title {
  font-weight: bold;
}
.ghsearch__result-descr {
  margin-top: 8px;
}
.ghsearch__result-more {
  text-align: center;
}
.ghsearch__info {
  margin: 16px auto;
  text-align: center;
}
.ghsearch__info-icon {
  margin: 0 auto;
}
.ghsearch__info-icon--loading {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% auto;
}
.ghsearch__info-icon--warn {
  width: 96px;
  height: 96px;
  background-image: url("../images/warn.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.ghsearch__info-msg {
  margin: 16px auto;
  text-align: center;
}

.input-text {
  margin: 0;
  padding: 0.5em;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #222222;
  border: 1px solid #555555;
  outline: none;
  transition: border-color 0.5s;
}
.input-text:focus {
  border-color: #888888;
  outline: none;
  transition: border-color 0.5s;
}
.input-text:focus::placeholder {
  opacity: 0;
}
.input-text--error {
  border-color: red;
}

.input-errormsg {
  margin-top: 3px;
  font-size: 0.9em;
  font-weight: normal;
  color: red;
}

.button {
  margin: 0;
  padding: 0.5em 0.7em;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #444444;
  border: 1px solid #555555;
  transition-property: color, background-color, border-color;
  transition-duration: 0.5s;
}
.button:hover {
  color: orange;
  background-color: #333333;
  border-color: #888888;
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: 0.5s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: inset 0 0 0 1000px #222222;
}