
// ширина контента 
$content-max-width: 1000px;
$content-min-width: 250px;
$content-indent: 20px; 

// шрифт
$font-family-1: /*'Lucida Console'*/ Verdana, sans-serif; 

// цвета основные
$color-1: #ffffff;
$color-2: orange;
$color-3: #555555;
$color-warn: red;

$bg-color-0: #000000;
$bg-color-1: #333333;
$bg-color-2: #444444;

$brd-color-1: #555555;
$brd-color-2: orange;

$input-color-1: white;
$input-bg-color-1: #222222;
$input-brd-color-1: #555555;
$input-brd-color-hover-1: #888888;

$button-bg-color-1: #444444;
$button-bg-color-hover-1: #333333;
$button-brd-color-1: #555555;
$button-brd-color-hover-1: #888888;

// временная граница для отладки
@mixin debug-border($color) { 
    border: 1px solid $color;  
}

body {
    font-size: 1rem;
    font-family: $font-family-1;
    color: $color-1;
    margin: 0;
    padding: 10px;
    background-color: $bg-color-0;
}

* { box-sizing: border-box; }

h1, .h1 {
    font-family: $font-family-1;
    font-size: 1.6em;
}

h2, .h2 {
    font-family: $font-family-1; 
    font-size: 1.4em;
}

a {
    color: $color-2;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;
    
    &:hover {
        //color: $color-2;
        text-decoration: underline;
        transition: color 0.5s, background-color 0.5s;
    }
}

// обертка флекс-колонка для опускания футера к низу страницы в случае маленькой высоты контента
.page-wrapper {
    display: flex;
    min-height: 100vh;
    min-width: $content-min-width;
    flex-direction: column;
}

// шапка
.header {
    justify-self: flex-start;
    //@include debug-border(red);  
}

// основное содержание страницы
.main {
    flex-grow: 1;
    //@include debug-border(green);
}

// подвал
.footer {
    justify-self: flex-end;
    //@include debug-border(blue); 
}

// main
.main {
    display: flex;
    background-color: $bg-color-0;

    &__container {
        margin: 0 auto; 
        max-width: $content-max-width;
        flex-grow: 1;
        background-color: $bg-color-1;
        border-radius: 20px;
    } 
}

// footer
.footer {
    display: flex;
    margin-top: 10px;
    font-size: 0.8rem;
    background-color: $bg-color-0;

    &__container {
        margin: 0 auto; 
        max-width: $content-max-width;
        flex-grow: 1;
        background-color: $bg-color-1;
        border-radius: 20px;
    } 

    &__line {
        padding: 30px;
        text-align: center;
    }
}

.logo {
    display: inline-flex;
    align-items: center;
    padding: 8px 0;
    font-size: 1rem;

    &__link {
        display: flex;
        align-items: center;
        color: $color-2;
        text-decoration: none;

        &:hover { 
            text-decoration: none; 
        }
    }

    &__image { 
        height: 2.8em;  
    }

    &__title {
        margin-left: 10px;
        font-size: 1.6em;
        font-weight: bold;
    }
}

.ghsearch {
    margin: 20px $content-indent;
    margin-top: 10px;

    &__title {
        margin-bottom: 10px;
        text-align: center;
    }

    &__form {
        width: 100%;
    }

    &__query-line {
        display: flex;
        flex-basis: 100%;
        flex-shrink: 1;
        justify-content: center;
        align-items: flex-start;
        column-gap: 5px;
        //@include debug-border(green);
    }

    &__query-box { 
        width: 80%;
        max-width: 40rem;
        //@include debug-border(red);
    }

    & [name="query"] {
        width: 100%;
    }

    &__result {
        margin-top: 20px;
    }

    &__result-list {
        padding-left: 20px;
    }

    &__result-item {
        margin: 10px;
        padding: 10px;
        vertical-align: bottom;
        background-color: $bg-color-2;
        border: 1px solid $brd-color-1;
    }

    &__result-item-content {
        display: inline-flex;
        vertical-align: top;
        column-gap: 10px;
        row-gap: 10px;
    }

    &__result-item-left {
        flex-shrink: 1;
        //@include debug-border(red);
    }

    &__result-item-right {
        flex-shrink: 1;
        flex-grow: 1;
        //@include debug-border(blue);
    }

    &__result-image {
        max-width: 100px;
        background-color: #ffffff;
    }

    &__result-title {
        font-weight: bold;
    }

    &__result-descr {
        margin-top: 8px;
    }

    &__result-more {
        text-align: center;
    }

    &__info {
        margin: 16px auto;
        text-align: center;
    }

    &__info-icon {
        margin: 0 auto;

        &--loading {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #ffffff;
            background-image: url('../images/loading.gif');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 80% auto;
        }

        &--warn {
            width: 96px;
            height: 96px;
            //border-radius: 50%;
            //background-color: red;
            background-image: url('../images/warn.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% auto; 
        }
    }

    &__info-msg {
        margin: 16px auto;
        text-align: center;
    }
}

// поля
.input-text {  
    margin: 0;
    padding: 0.5em;
    font-family: $font-family-1;
    font-size: 1rem;
    color: $input-color-1;
    background-color: $input-bg-color-1; 
    border: 1px solid $input-brd-color-1; 
    outline: none; 
    transition: border-color 0.5s;

    &:focus { 
        border-color: $input-brd-color-hover-1; 
        outline: none;  
        transition: border-color 0.5s;
    }

    &:focus::placeholder { opacity: 0; }

    &--error {
        border-color: $color-warn;
    }
}  

.input-errormsg {
    margin-top: 3px;
    font-size: 0.9em;
    font-weight: normal;
    color: $color-warn;
    //@include debug-border(blue)
}

.button {  
    margin: 0;
    padding: 0.5em 0.7em;
    font-family: $font-family-1;
    font-size: 1rem;
    color: $color-1;
    background-color: $button-bg-color-1; 
    border: 1px solid $button-brd-color-1; 
    transition-property: color, background-color, border-color;
    transition-duration: 0.5s;

    &:hover {  
        color: $color-2;
        background-color: $button-bg-color-hover-1; 
        border-color: $button-brd-color-hover-1; 
        cursor: pointer; 
        transition-property: color, background-color, border-color;
        transition-duration: 0.5s;
    }
}   

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $input-color-1;
  -webkit-box-shadow: inset 0 0 0 1000px $input-bg-color-1;
}

